:root {
  --accent1: #185adb;
  --accent1RGBA: rgba(24, 90, 219, 0.9);
  --accent2: #ffc947;
  --text: #f5f0e8;
  --textSecondary: #fbe4d8;
  --base: #0a1931;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--accent1);
  box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.5);
}

nav {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}

nav ul {
  display: flex;
  gap: 1em;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--text);
  padding: 0.25em 0.5em;
  border-radius: 1em;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

nav ul li a:hover {
  font-weight: bold;
  color: var(--accent1);
  background-color: var(--text);
}

.profilePictureContainer {
  position: relative;
  user-select: none;
  bottom: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding: 0.25em 0.5em;
  border-radius: 1em;
  transition: all 0.3s ease-in-out;
}

.profilePictureContainer:hover {
  gap: 0.4em;
  background-color: var(--text);
}

.profilePictureContainer svg {
  fill: var(--text);
  width: 1em;
}

.profilePictureContainer p {
  transition: all 0.3s ease-in-out;
}

.profilePictureContainer:hover p {
  font-weight: bold;
  color: var(--accent1);
}

.profilePictureContainer .dropdownIcon {
  transition: all 0.3s ease-in-out;
}

.profilePictureContainer:hover .dropdownIcon {
  transform: scale(1.2);
  fill: var(--accent1);
}

.profilePictureContainer.profileMenuOpened .dropdownIcon {
  transform: scaleY(-1);
}

.profilePictureContainer.profileMenuOpened:hover .dropdownIcon {
  transform: scale(1.2, -1.2);
  fill: var(--accent1);
}

.profilePictureContainer .profilePicture {
  width: 2em;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.profilePictureContainer:hover .profilePicture {
  transform: scale(1.05);
  fill: var(--accent1);
}

.profileMenuContainer {
  user-select: none;
  margin: 1.5em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  width: 16rem;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 1em;
}

.profileMenuContainer.openProfileMenu {
  max-height: 200px;
  /* TODO: Better way to set the max height */
  box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.5);
}

.profileMenu {
  background-color: var(--text);
  padding: 2em;
  border-radius: 1em;
}

.userInfo h3 {
  text-transform: uppercase;
  text-align: center;
  color: var(--base);
}

a.profileMenuLink {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: var(--base);
  border-radius: 0.25em;
  transition: all 0.3s ease-in-out;
}

a.profileMenuLink:hover {
  font-weight: bold;
  color: var(--base);
}

a.profileMenuLink svg {
  width: auto;
  height: 1.5em;
  transition: all 0.3s ease-in-out;
}

a.profileMenuLink:hover svg {
  transform: scale(1.1) translateX(-0.25em);
}

a.profileMenuLink p {
  text-decoration: none;
}

a.profileMenuLink span {
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}

a.profileMenuLink:hover span {
  transform: translateX(0.38em);
}

.profileMenu hr {
  margin: 1em 0;
  border: 0;
  height: 1px;
  background: var(--base);
  border-radius: 0.25em;
}
